{% extends "base.html" %}

{% block content %}
<div class="block has-text-justified">
    <p>Welcome to tomatotimer.in! This tool was created to provide remote teams who are fans of the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a> with a simple, hassle free way to synchronize their Pomodoro timers. </p>
</div>
<div class="block has-text-justified">
    <h3 class="has-text-centered">The (really simple) directions</h3>
    <ol class="notification is-info is-light" type="1">
        <li>Copy this link <a href='http://tomatotimer.in/room/YourTeamName' target='_blank' class='url'>http://tomatotimer.in/room/YourTeamName</a></li>
        <li>Replace YourTeamName in the link with whatever you desire your (hopefully SFW) session name to be</li>
        <li>Share the link with your team via your normal means of communication</li>
    </ol>
    <p class="block">Yes, it's really that simple, and no, there isn't a catch. There's also no sign-ups, no charges, and no frills, in fact there's absolutely nothing on this website at all but a means to create a simple synchronized timer at an easy to remember domain. Efficient and purposeful, just like the teams that this tool was built for.</p>
</div>
{% endblock %}