<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}<title>{{ name }}</title>{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    {% block content %}
    <body>
        <h1> Room name: {{ name }} </h1>
        <div id="timerProgress">
            <h2 id="progressText">Loading<i id="progressText">. . .</i></h2>
                <progress id="progressBar" value="100" max="100"> 100% </progress>
        </div>
        <script src="/static/room.js" async defer></script>
    </body>
    {% endblock %}
</html>